bin/Debug/netcoreapp3.1/parsecsv.deps.json
bin/Debug/netcoreapp3.1/parsecsv.dll
bin/Debug/netcoreapp3.1/parsecsv.pdb
bin/Debug/netcoreapp3.1/parsecsv.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/parsecsv.runtimeconfig.json
obj/Debug/netcoreapp3.1/parsecsv.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/parsecsv.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/parsecsv.dll
obj/Debug/netcoreapp3.1/parsecsv.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/parsecsv.pdb
